.DS_Store
build
testdata
*.log
.idea/*
.gradle/*
**/*.pdf
.history
.vscode
/build/
/bin/
/.classpath
/.settings
/.gradle
/.project
/.idea
/*.iml
/*.ipr
/*.iws
**/*.iml
/*/*.ipr
/*/*.iws
/out/
/*/out/
*.class
*.classpath
*.project
*.settings
bin/
build/
logs/
/gradlew
/gradlew.bat
/gradle
/*/gradle
/*/gradlew
/*/gradlew.bat
*.bak
/script/app/jar/*
*.iml
**/target/*
maven-single-module-package.bat